
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.hide {
    display: none;
}
/* header stard */
.header {
    min-height: 100vh;
    background-image: url(./images/header_bg.png), url(./images/Developer2.png);
    background-repeat: no-repeat;
    background-size: 50%, 5rem;
    background-position: bottom right, 2% center;
    background-clip: calc();
    box-sizing: border-box;
    overflow: hidden;
    /* border: 1px solid; */
}
.header__nav-bar {
    width: 80%;
    margin: 3% auto;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* nav bar logo */
.header__nav-bar__logo h2 {
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}
#nav-title {
    color: #FD6E0A;
}
/* nav bar menu start */
.header__nav-bar__menu {
    display: flex;
    align-items: center;    
}
.header__nav-bar__menu ul li {
    display: inline;
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    margin-right: 2.5rem;
}
.btn {
    border: none;
    border-radius: 0.25rem;
    background: #FD6E0A;
    padding: 0.9rem 2rem;
    font-size: 20px;
    color: #ffff;
    font-weight: 600;
}
/* navbar section end */

/* Header Banar */
.header__banar {
    width: 90%;
    height: 500px;
    margin: 0 0 0 130px;
    display: grid;
    grid-template-columns: 60% 40%;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.header__banar__personal-info {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}
.sub-title {
    font-size: 2.5rem;
    font-weight: 600;
}
.title {
    font-size: 85px;
    font-weight: 700;
    margin: 1rem 0;
}
.discription-banar {
    width: 567px;
}
.description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 2rem;
    line-height: 30px;
}
.btn-cv {
    margin-right: 1.5rem;
}
.btn-contact {
    background: none;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}
.header__banar__photo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}
.header__banar__photo img {
    width: 450px;
}

/* MAIN SECTION START */

/* main {
    width: 80%;
    margin: 0 auto;
} */
.content {
    margin-top: 130px; 
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
.section-description {
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 30px;
}
/* About Me */
.content-about__info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-title {
    font-size: 20px;
    color: #757575;
}
.info-description {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

/* --- What i do --- */
.content-what-do {
    background: none;
    margin-top: 0;
    padding: 130px 0;
}
.skills-container {
    display: flex;
    gap: 24px;
}
.skill {
    /* width: 267px; */
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0;
}
.skill-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.what-description {
    margin: 2rem 3rem !important;
}

/* --- Resume style--- */
.content-resume {
    background: none;
    margin-top: 0;
    padding:  0;
}
.summary {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 130px;
}
.section-resume {
    display: flex;
    gap: 1rem;
}
.section-resume__my-education {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.resume-title {
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.horizontal {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #D1D1D1;
}
.not-horizontal {
    border-bottom: 0;
}
.resume-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
}
.education-sub-title {
    font-size: 25px;
    font-weight: 700;
    color: #757575;
    padding: 0.5rem 0;
}
.education-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 1rem;
}
.education-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* ============== */

.resume-content__my-experiance {
    display: flex;
    flex-direction: column;
    gap: 2rem;  
}
.experiance-sub-title {
    font-size: 25px;
    font-weight: 700;
    color: #757575;
    padding: 0.5rem 0;
}
.experiance-title {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 1rem;
}
.experience-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* contact styles */

.contact {
    background: #FFF8F3;
}

.contact__content {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 130px 0;
}

.contact__content__inform .section-title {
    text-align: left;
    font-size: 35px;
}
.contact__content__inform .section-description {
    text-align: left;
}
.icons {
    margin-right: 1rem;
}

.contact__content__form .section-title {
    text-align: left;
    font-size: 35px;
}
[action="user-form"] {
    width: 100%;
    overflow: hidden;
}
[action="user-form"] > input {
    width: 90%;
    padding: 1rem 0 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
}

[action="user-form"] > textarea {
    width: 90%;
    height: 150px;
    padding: 1rem 0 1rem 1rem;
    border: none;
}
.submit {
    margin-top: 1rem;
}